L1/sat_course/课堂资料/L1-2自测文档 1.xls
L1/sat_course/课堂资料/lesson1-2BIV3.8_数据采集与实战.pptx
L1/sat_course/课堂资料/bs/auto_login.py
L1/sat_course/课堂资料/bs/bs_demo.py
L1/sat_course/课堂资料/bs/car_complain_bs.py
L1/sat_course/课堂资料/bs/car_complain.csv
L1/tue_course/课堂资料/商业智能与推荐系统.pptx
L1/tue_course/课堂资料/L1自测文档(1).xls
L1/tue_course/课堂资料/codes/mnist_keras.ipynb
L1/tue_course/课堂资料/codes/mnist_keras.py
L1/tue_course/课堂资料/codes/mnist_lr.ipynb
L1/tue_course/课堂资料/codes/mnist_lr.py
L1/tue_course/课堂资料/codes/mnist.npz
L1/四期bi核心week1 优秀作业分享.docx
L2/sat_course/课堂资料/lesson2-2BIV1.4 1.pptx
L2/sat_course/课堂资料/nCoV.pbix
L2/sat_course/课堂资料/PythonEDA/dash1.py
L2/sat_course/课堂资料/PythonEDA/flask1.py
L2/sat_course/课堂资料/PythonEDA/python_eda.py
L2/sat_course/课堂资料/PythonEDA/subplot1.py
L2/sat_course/课堂资料/PythonEDA/test.csv
L2/sat_course/课堂资料/PythonEDA/titanic_eda.py
L2/sat_course/课堂资料/PythonEDA/titanic_tree.pdf
L2/sat_course/课堂资料/PythonEDA/train.csv
L2/sat_course/课堂资料/PythonEDA/__pycache__/dash.cpython-37.pyc
L2/sat_course/课堂资料/echarts/bar1.html
L2/sat_course/课堂资料/echarts/bar1.py
L2/sat_course/课堂资料/echarts/data_show.html
L2/sat_course/课堂资料/echarts/echarts.min.js
L2/sat_course/课堂资料/echarts/line.py
L2/sat_course/课堂资料/echarts/page.py
L2/sat_course/课堂资料/echarts/pie.py
L2/sat_course/课堂资料/echarts/radar.py
L2/sat_course/课堂资料/echarts/render.html
L2/sat_course/课堂资料/echarts/rose.py
L2/sat_course/课堂资料/echarts/temp.html
L2/sat_course/课堂资料/feiyan_flask/manage.py
L2/sat_course/课堂资料/feiyan_flask/nohup.out
L2/sat_course/课堂资料/feiyan_flask/uwsgi.ini
L2/sat_course/课堂资料/feiyan_flask/uwsgi.log
L2/sat_course/课堂资料/feiyan_flask/uwsgi.pid
L2/sat_course/课堂资料/feiyan_flask/.idea/encodings.xml
L2/sat_course/课堂资料/feiyan_flask/.idea/misc.xml
L2/sat_course/课堂资料/feiyan_flask/.idea/modules.xml
L2/sat_course/课堂资料/feiyan_flask/.idea/shop_flask.iml
L2/sat_course/课堂资料/feiyan_flask/.idea/workspace.xml
L2/sat_course/课堂资料/feiyan_flask/App/__init__.py
L2/sat_course/课堂资料/feiyan_flask/App/ext.py
L2/sat_course/课堂资料/feiyan_flask/App/models.py
L2/sat_course/课堂资料/feiyan_flask/App/__pycache__/__init__.cpython-36.pyc
L2/sat_course/课堂资料/feiyan_flask/App/__pycache__/__init__.cpython-37.pyc
L2/sat_course/课堂资料/feiyan_flask/App/__pycache__/__init__.cpython-38.pyc
L2/sat_course/课堂资料/feiyan_flask/App/__pycache__/ext.cpython-36.pyc
L2/sat_course/课堂资料/feiyan_flask/App/__pycache__/ext.cpython-37.pyc
L2/sat_course/课堂资料/feiyan_flask/App/__pycache__/ext.cpython-38.pyc
L2/sat_course/课堂资料/feiyan_flask/App/__pycache__/models.cpython-36.pyc
L2/sat_course/课堂资料/feiyan_flask/App/__pycache__/models.cpython-37.pyc
L2/sat_course/课堂资料/feiyan_flask/App/static/common/china.js
L2/sat_course/课堂资料/feiyan_flask/App/static/common/echarts.js
L2/sat_course/课堂资料/feiyan_flask/App/static/common/echarts.min.js
L2/sat_course/课堂资料/feiyan_flask/App/static/common/jq.js
L2/sat_course/课堂资料/feiyan_flask/App/static/js/axis.js
L2/sat_course/课堂资料/feiyan_flask/App/static/js/map.js
L2/sat_course/课堂资料/feiyan_flask/App/static/json/china.json
L2/sat_course/课堂资料/feiyan_flask/App/static/json/italy.json
L2/sat_course/课堂资料/feiyan_flask/App/static/json/japan.json
L2/sat_course/课堂资料/feiyan_flask/App/static/json/korea.json
L2/sat_course/课堂资料/feiyan_flask/App/static/json/name.json
L2/sat_course/课堂资料/feiyan_flask/App/static/json/world.json
L2/sat_course/课堂资料/feiyan_flask/App/templates/feiyan.html
L2/sat_course/课堂资料/feiyan_flask/App/views/__init__.py
L2/sat_course/课堂资料/feiyan_flask/App/views/api.py
L2/sat_course/课堂资料/feiyan_flask/App/views/country_data.csv
L2/sat_course/课堂资料/feiyan_flask/App/views/foreign_country_data.csv
L2/sat_course/课堂资料/feiyan_flask/App/views/__pycache__/__init__.cpython-36.pyc
L2/sat_course/课堂资料/feiyan_flask/App/views/__pycache__/__init__.cpython-37.pyc
L2/sat_course/课堂资料/feiyan_flask/App/views/__pycache__/__init__.cpython-38.pyc
L2/sat_course/课堂资料/feiyan_flask/App/views/__pycache__/api.cpython-36.pyc
L2/sat_course/课堂资料/feiyan_flask/App/views/__pycache__/api.cpython-37.pyc
L2/sat_course/课堂资料/feiyan_flask/__pycache__/manage.cpython-36.pyc
L2/sat_course/课堂资料/feiyan_flask/__pycache__/manage.cpython-37.pyc
L2/sat_course/课堂资料/feiyan_flask/__pycache__/manage.cpython-38.pyc
L2/sat_course/课堂资料/homework_MarketBasket/Market_Basket_Optimisation.csv
L2/sat_course/课堂资料/powerbi_data/city_data.csv
L2/sat_course/课堂资料/powerbi_data/current_city.csv
L2/sat_course/课堂资料/wordcloud/movies_word_cloud.py
L2/sat_course/课堂资料/wordcloud/movies.csv
L2/sat_course/课堂资料/wordcloud/wordcloud.jpg
L2/tue_course/课堂资料/apriori1.py
L2/tue_course/课堂资料/lesson02BIV2.6.pptx
L2/tue_course/课堂资料/BreadBasket/apriori_breadbasket.py
L2/tue_course/课堂资料/BreadBasket/BreadBasket_DMS.csv
L2/tue_course/课堂资料/MarketBasket/Market_Basket_Optimisation.csv
L2/tue_course/课堂资料/MovieActors/movie_actors_apriori.py
L2/tue_course/课堂资料/MovieActors/movie_actors_download.py
L2/tue_course/课堂资料/MovieActors/movie_actors.csv
L2/tue_course/课堂资料/MovieLens/movies_apriori.py
L2/tue_course/课堂资料/MovieLens/movies.csv
L2/tue_course/课堂资料/regression/000001.csv
L2/tue_course/课堂资料/regression/300005.csv
L2/tue_course/课堂资料/regression/diabetes_regression.py
L2/tue_course/课堂资料/regression/pearson1.py
L2/tue_course/课堂资料/regression/random_regression.py
L3/sat_course/课堂资料/L3-2自测文档.xls
L3/sat_course/课堂资料/lesson3-2BIV2.7.pptx
L3/sat_course/课堂资料/cluster/team_cluster_data.csv
L3/sat_course/课堂资料/cluster/team_cluster.py
L3/sat_course/课堂资料/delicious-2k/simpletag_delicious.py
L3/sat_course/课堂资料/delicious-2k/user_taggedbookmarks-timestamps.dat
L3/sat_course/课堂资料/mnist/mnist_sklearn.py
L3/sat_course/课堂资料/mnist/mnist_tpot.py
L3/sat_course/课堂资料/steam_video_games/steam_clean.py
L3/sat_course/课堂资料/steam_video_games/steam-200k.csv
L3/sat_course/课堂资料/titanic/titanic_clean.py
L3/sat_course/L3_课堂笔记.md
L3/sat_course/tpot_titanic_pipeline.py
L3/sat_course/gender_submission.csv
L3/sat_course/test.csv
L3/sat_course/train.csv
L3/tue_course/课堂资料/defaultdict1.py
L3/tue_course/课堂资料/L3自测文档.xls
L3/tue_course/课堂资料/lesson03BIV1.3.pptx
L3/tue_course/课堂资料/NORMDIST.py
L3/tue_course/课堂资料/Assignment/chinese_stopwords.txt
L3/tue_course/课堂资料/Assignment/sqlResult.csv
L3/tue_course/课堂资料/cluster/customer_cluster_hierarchy.py
L3/tue_course/课堂资料/cluster/customer_cluster_kmeans.py
L3/tue_course/课堂资料/cluster/customer_cluster_result.csv
L3/tue_course/课堂资料/cluster/Mall_Customers.csv
L3/tue_course/课堂资料/mnist/mnist_clf.py
L3/tue_course/课堂资料/mnist/mnist_semi.py
L3/tue_course/sqlResult.csv
.vscode/biCourse.code-workspace
.vscode/settings.json








L1/sat_course/L1_名企_汽车投诉采集.ipynb

L1/tue_course/sample.csv
L1/tue_course/test.csv
L1/tue_course/train.csv
L2/sat_course/Market_Basket_Optimisation.csv
L2/tue_course/Market_Basket_Optimisation.csv

.gitignore
L1/sat_course/汽车质量投诉 - 车质网.csv
